# package directories
node_modules
jspm_packages

# Serverless directories
.serverless
.webpack

.*.sw*

**/lib

**/dist

.DS_Store

coverage

*.zip

*.backup
*.tfstate
.terraform/
.terraform.lock.hcl